<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="1" id="sm.confin" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ConFin</name>
    <description>Mini Controle Financeiro Pessoal</description>
    <preference name="permissions" value="none" />
    <preference name="LoadUrlTimeoutValue" value="70000" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <access launch-external="true" origin="mailto:*" />
    <access origin="cdvfile://*" />
    <allow-intent href="mailto:*" launch-external="yes" />
    <icon src="www/confin.png" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,assets,root" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/confin.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/confin.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/confin.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/confin.png" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-x-socialsharing" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-device" spec="~2.0.2" />
    <plugin name="cordova-plugin-console" spec="~1.1.0" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <engine name="android" spec="^7.1.1" />
</widget>
